body{
	background-image: url("../images/background.jpeg");
	color: #fff;
}
.container{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	margin-top: 70px;
}
.container img{
	width: 30px;
	height: 30px;
	border-radius: 10px;
}
.container .clickable{
	display: flex;
	flex-direction: row;
	gap: 15px;
	justify-content: center;
}
.clickable a{
	text-decoration: none;
}
.clickable .clickable-box1{
	border: 3px solid orange;
	border-radius: 30px;
	font-size: 25px;
	padding: 10px;
	background-color: #000;
	width: 150px;
	color: #fff;
}
.clickable .clickable-box1 img{
	width: 20px;
	height: 20px;
}
.clickable .clickable-box2{
	border: 3px solid #fff;
	border-radius: 30px;
	font-size: 25px;
	padding: 10px;
	background-color: #000;
	width: 120px;
	color: #fff;
	height: 25px;
}
#middle{
	background-color: #fff;
	padding: 20px;
	font-size: 20px;
}
#middle .tiny{
	font-size: 15px;
}
#middle h3{
	border-bottom: 2px solid #f58025;
	font-size: 25px;
	font-weight: bold;
}
#middle h4{
	font-size: 22px;
	font-weight: bold;
}
#main{
	display: flex;
	gap: 100px;
	margin-top: 50px;
	background-color: #000;
	padding: 50px;
	height: 400px;
	justify-content: center;
}
#main .picture img{
	height: 200px;
	width: 200px;
	border-radius: 15px;
}
#main .about{
	height: 300px;
	width: 500px;
	font-size: 17px;
}
#main2, #main3, #main4{
	background-color: #fff;
	display: flex;
	gap: 100px;
	color: #000;
	padding: 150px 150px;
}
#circle{
	width: 350px;
	height: 17px;
	border-radius: 30px;
	background-color: #e3dac9;	
}
#circle .incircle{
	width: 290px;
	height: 17px;
	border-radius: 30px;
	background-color: #f58025;
}
#main5 .place{
	display: flex;
	gap: 50px;
	justify-content: center;
}
#main5 .place input{
	width: 400px;
	height: 30px;
	border-radius: 10px;
}
#main5 .place textarea{
	width: 400px;
	height: 150px;
	border-radius: 10px;
}
#main5 img{
	width: 140px;
	height: 100px;
	border-radius: 10px;
}	
#main5 .place .row img{
	height: 40px;
	width: 40px;
}
#main5 .place h1{
	font-size: 35px;
	font-weight: bold;
}
#main5 .place .row{
	font-size: 20px;
}
#main5 .place .clickable-box{
	border: 2px solid orange;
	border-radius: 30px;
	font-size: 20px;
	padding: 15px;
	padding-top: 5px;
	background-color: #000;
	width: 120px;
	height: 15px;
	color: #fff;	
}
#main5 .place a{
	text-decoration: none;
}
/*this is the footer*/
#footer{
	background-color: #000;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#footer img{
	width: 40px;
	height: 25px;
	border-radius: 10px;
	padding-top: 70px;
}
#footer p{
	font-size: 14px;
}